{% extends "layout.html" %} 
{% block body %}
<div class="grid">
    <div class="span16">
        <span style="text-align:center">
            <h1 style="border:none">Hello, I'm Max.</h1>
            <p style="font-size:24px">I'm a programmer, an aspiring entrepreneur, and an amatuer film critic.</p>
            <p>Check out my <a href="/posts" title="A blog about code and everything else">blog</a>, also I'm <a href="https://github.com/maxcountryman" title="Some of my work and play">on GitHub</a>. If you like, I'm on <a href="https://twitter.com/maxcountryman" title="@maxcountryman">Twitter too</a>.
        </span>
    </div>
</div>
{% endblock %}
